body {
    font-family: Arial;
    margin: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ccc;
    padding: 10px;
}

button {
    padding: 5px;
}
